.section.is-primary {
  background-color: #5555aa;
  color: white;
}

.white-text {
  color: whitesmoke;
}

.pic-me {
  width: 300px;
}

.skill-list {
  background-color: #333366;
  border: 2px solid #333;
}

.my-name {
  background-color: #5555aa;
  margin-left: 7rem;
}

nav {
  box-shadow: 2px 2px 30px #333;
}

.footer {
  margin-top: 3rem;
}

.page-title {
  border-bottom: 2px solid #333;
}

.nav-pages {
  margin-right: 7rem;
}

.navbar-about:hover {
  background-color: #5555aa;
  color: pink;
}

.hover {
  background-color: #5555aa;
}